<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="chartsCollection" type="SupervisorioCheetah.ChartsConfigSection, SupervisorioCheetah" />-->
  </configSections>
  
  <appSettings>
    
  </appSettings>
  
  <!--<chartsCollection>
    --><!--<charts>
      <add sensor="acelX" isSelected="false" />
      <add sensor="acelY" isSelected="false" />
      <add sensor="acelZ" isSelected="false" />
      <add sensor="Latitude" isSelected="false" />
    </charts> 
    <charts>
      <add sensor="acel1" isSelected="false" />
      <add sensor="acel1" isSelected="false" />
      <add sensor="acel1" isSelected="false" />
      <add sensor="Longitude" isSelected="false" />
    </charts>--><!--
  </chartsCollection>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>